<div class="container">
  <div class="row col-md-8 centered-form">

    <div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add new applicant</h3>
        </div>

        <div class="panel-body">
          <form #formAddApplicant="ngForm" (ngSubmit)="addApplicant(formAddApplicant.value)" role="form">
            <div class="row">

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="FirstName" placeholder="First name" [(ngModel)]="newApplicant.FirstName" required
                    #trvFirstName="ngModel">
                  <div *ngIf="trvFirstName.errors && (trvFirstName.dirty || trvFirstName.touched)" class="errorMessage">
                    <div [hidden]="!trvFirstName.errors.required">
                      First Name is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="LastName" placeholder="Last name" [(ngModel)]="newApplicant.LastName" required
                    #trvLastName="ngModel">
                  <div *ngIf="trvLastName.errors && (trvLastName.dirty || trvLastName.touched)" class="errorMessage">
                    <div [hidden]="!trvLastName.errors.required">
                      Last Name is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="number" class="form-control" name="experience" min="0" placeholder="Experience" [(ngModel)]="newApplicant.Experience"
                    required #trvExperience="ngModel">
                  <div *ngIf="trvExperience.errors && (trvExperience.dirty || trvExperience.touched)" class="errorMessage">
                    <div [hidden]="!trvExperience.errors.required">
                      Experience is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="city" placeholder="City" [(ngModel)]="newApplicant.City" #trvCity="ngModel">
                  <div *ngIf="trvCity.errors && (trvCity.dirty || trvCity.touched)" class="errorMessage">
                    <div [hidden]="!trvCity.errors.required">
                      City is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" email class="form-control" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)"
                    name="email" placeholder="Your email" [(ngModel)]="newApplicant.Email" required #trvEmail="ngModel">
                  <div *ngIf="trvEmail.errors && (trvEmail.dirty || trvEmail.touched)" class="errorMessage">
                    <div [hidden]="!trvEmail.errors.required">
                      Email is required
                    </div>
                    <div [hidden]="!trvEmail.errors.email">
                      Email is not valid
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="newApplicant.PhoneNumber"
                    required #trvPhoneNumber="ngModel">
                  <div *ngIf="trvPhoneNumber.errors && (trvPhoneNumber.dirty || trvPhoneNumber.touched)" class="errorMessage">
                    <div [hidden]="!trvPhoneNumber.errors.required">
                      Phone number is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="number" class="form-control" min="0" name="age" placeholder="Age" [(ngModel)]="newApplicant.Age" #trvAge="ngModel">
                  <div *ngIf="trvAge.errors && (trvAge.dirty || trvAge.touched)" class="errorMessage">
                    <div [hidden]="!trvAge.errors.required">
                      Age is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="position" placeholder="Position" [(ngModel)]="newApplicant.Position" required
                    #trvPosition="ngModel">
                  <div *ngIf="trvPosition.errors && (trvPosition.dirty || trvPosition.touched)" class="errorMessage">
                    <div [hidden]="!trvPosition.errors.required">
                      Position is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <div *ngIf="currentUpload">
                    <progress class="progress is-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
                    Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
                  </div>
                  <label for="uploadBtn" title="Upload new CV" class="uploadbtnlabel">Upload CV</label>
                  <input type="file" name="Upload" id="uploadBtn" (change)="detectFiles($event)">
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
            <input class="form-check-input" type="radio" placeholder="Female" name="female" value="Female" [(ngModel)]="newApplicant.Gender"> Female
          </label>
                  <label class="form-check-label">
            <input class="form-check-input" type="radio" placeholder="male" name="male" value="male" [(ngModel)]="newApplicant.Gender"> Male
          </label>
                </div>
              </div>

              <div class="form-group">
                <label>Skills</label>
                <br>
                <div class="checkbox-inline" *ngFor="let skill of newArSkillSet">
                  <label>
            <input type="checkbox" name="skill" [(ngModel)]="skill.selected" (change)="skillSetArray(skill)"> {{skill.name}}
          </label>
                </div>
              </div>

              <button [disabled]="!formAddApplicant.valid" title="Please fill all required fields!" class="btn btn-primary btn-block">Add</button>
            </div>
            <div style="color:red"> {{ formValidateMsg }}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>