
button{
  }
.container{
    width: 80%;
}

.emailIcon{
color: gold;
font-size:32px; 
float: right;
}

.mailHvr:hover{
color: rgb(19, 208, 241);
}

/* a{
    text-decoration: none;
} */

  li {
      margin-bottom:10px;
      list-style: none;
  }

  .card-content{
overflow: auto;
/* width: 100%; */
  }

  .rightIcons{
float: right;
  }

  .Isize{
    font-size: 250%;
  }

  .container{
    margin-top: 3%;
    width: 70%;
  }

  .block-title{color: #48453d; margin-bottom:0px; font-size:18px; margin-top: 0px; font-weight:700; text-transform:uppercase;}
  .item-content-block{padding:20px; border-top:2px solid #f6f6f2; background-color:#FFF; display:block;}
  .tags a{background-color:#756f5d; padding:10px; color:#fff; display:inline-block; font-size:11px; text-transform:uppercase; line-height:11px; border-radius:2px; margin-bottom:5px; margin-right:2px; text-decoration:none;}
  .tags a:hover{background-color:#a38018;}

  .allDetails .skills {
    float: left;
    display: block;
    margin: 2%;
  }

  .card{
    width: 100%;
    margin: 2%;
  }

  .name{
    display: inline;
  }

  .card-title{
    text-align:center;
     margin-top: -5%;
  }

  .detailsIcons{
    margin: 2%;
    font-size: 150%;
  }

  h3{
    margin:5px;
    padding: 5px;
}

.btn-custom{
 border: none;   
}

#toolbar-admin{
    display: none;
}

.jumbotron{
  background-color: white;
}
