<div class="container" style="display:block;">

  <div class="rightIcons">
    <button class="btn btn-xs" *ngIf="toggleEditIcon">
            <i class="fa fa-pencil-square-o Isize" title="Click to edit" (click)="goToEditApplicant(applicant)" aria-hidden="true"></i>
            </button>
    <button type="button" class="btn btn-xs" (click)="lockToggle()">
              <i title="{{manger}}" class=" Isize fa {{ applicant.IsActive ? 'fa-lock' : 'fa-unlock' }}"  aria-hidden="true"></i>
            </button>
    <button type="button" class="btn btn-xs"><a href="mailto:{{applicant.Email}}"><i class="fa fa-envelope Isize" title="Send mail to {{applicant.FirstName}}" aria-hidden="true"></i></a></button>
    <button class="btn btn-xs" (click)="downloadCV()">
                <i class="fa fa-download Isize" aria-hidden="true" title="Download CV"></i>
                </button>
  </div>

  <h2 class="name">{{applicant.FirstName +" "+ applicant.LastName}}</h2>
  <hr>

  <div class="allDetails">
    <div class="details">
      <i class="fa fa-briefcase detailsIcons" title="Position" aria-hidden="true"> {{applicant.Position}}</i>
      <i class="fa fa-envelope detailsIcons" title="Email" aria-hidden="true"> {{applicant.Email}}</i>
      <i class="fa fa-phone detailsIcons" title="Phone" aria-hidden="true"> {{applicant.PhoneNumber}}</i>
    </div>
    <div *ngFor="let skill of applicant.Skills" class="skills">
      <button type="button" class="btn btn-primary">{{skill}} <span class="badge">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>
      </button>
    </div>
  </div>
</div>

<div *ngIf = "!isArrayEmpty" >
  <div class="container">
    <div class="row">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>List of Reviews </h3>
        </div>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Status</th>
              <th>ReviewDate</th>
              <th>ManagerReview</th>
            </tr>
          </thead>
          <tbody>
            <tr class="success" *ngFor="let Summary of ArrInterviewSummary;">
              <td>{{Summary.Status}}</td>
              <td>{{Summary.ReviewDate}}</td>
              <td>{{Summary.ManagerReview}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>