a{
    text-decoration: none;
}

.rightSide{
  float:right
}
.container{ 
    width: 235px;
    display: inline-block;
    padding: 2px 0 0 0;
    margin: 0 0 28px 29px;
    border: solid 1px black;
    border-radius: 4px ;
    text-align: center; 
  }

  div{
    display: inline-block;
    cursor:pointer
  }

  .container:hover
  {
    -moz-box-shadow: 0 0 30px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    box-shadow: 0 0 30px #ccc;
  height: auto;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .ApplicantbCard{
    width: 100%;
    padding: 2px;
    margin: 5px;
    display: block;
  }
  .ApplicantTitel{
      float: left;
     display: inline;
     /* position: overflow; */
     padding-right: 50px;
     left: 100%;
     font-size: 16px;
    text-align: right;
  }
  .clear {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    display: block;
    height: 0;
  }

  .paging{
    /* float:right; */
  }

  .applicanttitel{
    color:rgb(8, 214, 214);
    text-align:center;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    }
    *{
      border-radius: 0 !important;
  }
  
  .registeration{
      border-top: 5px solid #2196f3;
      -webkit-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
      -moz-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
      box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
       margin-top: 5%; 
       margin-left: 15%;
       width:70%
  
  }
  
  .registerInner{
   margin: 15px;
  }
  
  .errorMessage{
      color:red;
  }
  
  
  .form-group{
      width: 100%;
      line-height: 50px;   
  }
  
  .signbuttons{
      margin-bottom: 35px;
      background: #2196f3;
      border: none;
  }
  
  input{
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-bottom: 1px dotted #2196f3 !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      -moz-transition: none !important;
      -webkit-transition: none !important;
  }
  
  .headerSign{
      color: #2196f3;
      margin-bottom: 20px;
      text-align: center;
  }
  
  .darktext{
      color: #2196f3;
  }
  
  
  