*{
    border-radius: 0 !important;
}

.registeration{
    border-top: 5px solid #2196f3;
    -webkit-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
     margin-top: 5%; 

}

.registerInner{
 margin: 15px;
}

.errorMessage{
    color:red;
}


.form-group{
    width: 100%;
    line-height: 50px;   
}

.signbuttons{
    margin-bottom: 35px;
    background: #2196f3;
    border: none;
}

input{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px dotted #2196f3 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}

.headerSign{
    color: #2196f3;
    margin-bottom: 20px;
    text-align: center;
}

.darktext{
    color: #2196f3;
}
button{
    text-decoration: none;
}

.details li {
    list-style: none;
  }
  li {
      margin-bottom:10px;
  }

  .card-content{
overflow: auto;
/* width: 100%; */
  }

  .rightIcons{
float: right;
  }

  .Isize{
    font-size: 250%;
  }

  .container{
    margin-top: 2%;
    width: 100%;
    margin-left: 15%;
  }

  .btn-block{
      margin: 3%; 
  }



