<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">

      <section class="login-form">
        <form #trvForm="ngForm" (ngSubmit)="submitHandler(trvForm)" role="login">
          
          <img src="../assets/BK.jpg" class="img-responsive logo-Img" alt="AT&T" />
          <h1>AT&T</h1>
         
          <div>
            <input type="email" name="email" id="idEmail" placeholder="Email" required email class="form-control input-lg" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)"
              [(ngModel)]="email" #trvEmail="ngModel" />

            <div *ngIf="trvEmail.errors && (trvEmail.dirty || trvEmail.touched)">
              <div [hidden]="!trvEmail.errors.required" class="errorMessage" style="color:red">Email is required</div>
              <div [hidden]="!trvEmail.errors.pattern" class="errorMessage" style="color:red">Email is not valid</div>
            </div>
          </div>
         
          <div>
            <input type="password" class="form-control input-lg" id="idPassword" placeholder="Password" name="password" required [(ngModel)]="password"
              #trvPassword="ngModel" />
            <div *ngIf="trvPassword.errors && (trvPassword.dirty || trvPassword.touched)">
              <div [hidden]="!trvPassword.errors.required" class="errorMessage" style="color:red">Password is required</div>
            </div>
          </div>
          
          <div class="pwstrength_viewport_progress"></div>
          <button type="submit" [disabled]="!trvForm.valid" title="Please fill all required fields!" class="btn btn-lg btn-primary btn-block">Sign in</button>
          <div style="color:red">{{ authService.error }}</div>
        </form>
      </section>

    </div>

    <div class="col-md-4"></div>
  </div>
  <div>